*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{  
    --Green: hsl(75, 94%, 57%);    
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%); 
}

body{
    background-color: var(--Off-Black);
    font-family: Inter;
    font-size: 14px;
    margin-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

main{
    background-color: var(--Dark-Grey);
    width: 450px;
    height: auto;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

img{
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    width: 130px;
    height: 130px;
}

h1{
    color: var(--White);
}

h3{
    color: var(--Green);
    margin: 5px;
    padding: 5px;
}

.descripcion{
    color: var(--White);
    margin: 10px;
    padding: 10px;
}

.redes-sociales{
    background-color: var(--Grey);
    color:var(--White);
    margin: 15px;
    padding: 10px;
    width: 350px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
}

@media (max-width: 375px) {
    body{
        background-color: var(--Off-Black);
        font-family: Inter;
        font-size: 12px;
        margin-top: 10px;
        margin-left: 28px;
        margin-right: 10px;
        height: auto;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    main{
        background-color: var(--Dark-Grey);
        width: 320px;
        height: auto;
        margin: 25px;
        padding: 20x;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .redes-sociales{
        background-color: var(--Grey);
        color:var(--White);
        margin: 10px;
        padding: 10px;
        width: 280px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-weight: bold;
    }
    
}